*~
*.pyc
*.pyo
*.pxi
*.bak
.directory
\#*\#
*.c
*.so
*swp
*.egg
*.ipynb_checkpoints*
scikits.odes.egg-info/*
build*
.emacs.desktop*
dist
_build
docs/_build
_configtest.o.d
.tox
.spyderproject
.cache
.eggs
.pytest_cache
