include common.py setup_build.py
recursive-include scikits *.pyx *.pxd *.pyf *.f

include CONTRIBUTING.md README.md LICENSE.txt
include tox.ini
include pyproject.toml

prune ci_support
prune docs
prune apidocs
prune paper
prune ipython_examples

exclude *.enc
exclude upload_api_docs.sh
